KAFKA_HOST=CHANGE_ME
KAFKA_PORT=9091
KAFKA_TOPIC=transaction-service-input
KAFKA_CONSUMER_GROUP=raw-loader
KAFKA_USER=CHANGE_ME
KAFKA_PASSWORD=CHANGE_ME

CLICKHOUSE_HOST=clickhouse
CLICKHOUSE_PORT=8123
CLICKHOUSE_USER=CHANGE_ME
CLICKHOUSE_PASSWORD=CHANGE_ME
CLICKHOUSE_DATABASE=raw

CERT_PATH=./certs/YandexInternalRootCA.crt

AIRFLOW_FERNET_KEY=CHANGE_ME